
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  
    <header>
        <div class="nav-bar">
            <h1>Past papers</h1>
            <p><a href="/home/logout">Logout</a></p>
        </div>
    </header>

    @RenderBody()


    <footer id="footer">
        <p>Copyright Theo Crowley @DateTime.Now.Year</p>
    </footer>
</body>

</html>
